.passiveGridSider {
  min-width: 250px;
  max-width: 250px;
  padding: 8px 16px;
  margin-left: 8px;
  background-color: white;
    position: sticky;
    top: 0;

  &-toggle {
    background-color: white;
    border: none;
    padding: 0;
    position: sticky;
    top: 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 30px;
  }

  &-title {
    font-weight: 600;
  }

  &-passives {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &-row {
      display: flex;
      align-items: center;
      text-align: left;
      gap: 4px;

      &-placeholder-icon {
        width: 16px;
      }
    }
  }


  &-passive-name {
    flex: 1;

    &-with-regional-select {
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-conditional-label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
  }

  &-ability {
    &-header {
      margin-top: 4px;
      font-weight: 600;
    }
  }

  &-extra {
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    
    &-row {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 4px;

      .ant-input-number {
        max-width: 56px;
      }
    }

    &-select {
      flex: 1;
    }
  }



}

.passiveGridSider-tooltip {
  .ant-tooltip-inner {
    white-space: pre;
  }
}