.form {
  .ant-form-item {
    margin-bottom: 8px;

    &-row {
      display: flex;
      flex-direction: column;
    }

    &-no-colon {
      &::after {
        margin: 0;
      }
    }
  }

  .ant-form-item-label {
    text-align: center;
    font-weight: 600;
    padding-bottom: 0;
  }

  .ant-collapse-header.ant-collapse-header {
    padding: 4px 12px;
    
    .ant-collapse-expand-icon {
      .ant-collapse-arrow.ant-collapse-arrow {
        margin-right: 8px;
      }
    }

    .ant-collapse-header-text {
      div {
        font-weight: 600;
      }
    }
  }

  .ant-collapse-content-box {
    .ant-select, .ant-input-number, textarea.ant-input {
      min-width: 150px;
      max-width: 150px;
    }
  }
}