.dataColList{
  &-card {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &-colWrapper {
    overflow: auto;
  }

  &-title {
    min-height: 32px;
    max-height: 32px;
  }
  
  &-body {
    display: flex;
    gap: 8px;
  }

  &-addCol {
    display: flex;
    gap: 8px;
    margin-top: -32px;
    position: absolute;

    input {
      max-height: 32px;
      min-width: 120px;
      max-width: 120px;
    }
  }

}