.dataColList{
  &-title {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-card {
    background-color: rgba(0, 0, 0, 0.05);

    > .ant-card-body {
      padding: 8px 24px 12px 24px;
    }
  }

  &-colWrapper {
    overflow: auto;
  }

  &-move-damage {
    .ant-card-body {
      padding: 4px 16px;
    }

    &-values {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      &-raw {
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-percent {
        white-space: pre;
      }
    }
  }
  
  &-body {
    display: flex;
    gap: 8px;
  }

  &-col {
    min-width: 252px;

    &-title {
      &-actions {
        display: flex;
        gap: 4px;
        justify-content: flex-end;
        align-items: center;
        margin-top: -4px;
      }
    }
  }

  &-add-move-bar {
    display: flex;
    align-items: center;
    position: absolute;

    top: 60px;
    gap: 8px;

    input {
      max-height: 32px;
      min-width: 120px;
      max-width: 120px;
    }
  }

  &-level-and-damage-bar {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-left: 178px;
  }

  &-pair-damage {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;

    &-label {
      font-weight: 600;
      margin-bottom: 4px;
    }
  }
}